[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "liquidprompt.git"]
	path = liquidprompt.git
	url = git@github.com:nojhan/liquidprompt.git
[submodule "liquidprompt-powerline"]
	path = liquidprompt-powerline
	url = git@github.com:liquidprompt/liquidprompt-powerline.git
