[submodule "bundle/vundle"]
	path = bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
